*.pyc
*.pyo
*.tmp*
*~
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
etc/gunicorn.cfg
etc/flask.cfg
buildout.cfg
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
