/* Cribbed from the jQuery Tools sample code. */

.overlay {
	display:none;
	z-index:10000;
	background-color:#333;
	width:675px;	
	min-height:400px;
	border:1px solid #666;
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}
.overlay .close {
        z-index:10000;
	background-image:url(/static/img/close.png);
	position:absolute;
	left:-30px;
	top:-30px;
	cursor:pointer;
	height:35px;
	width:35px;
}
