{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="span-16 append-4 prepend-4 last">
<p><a href="http://github.com/kurtraschke/cadors-parse"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a></p>
<p><code>cadorsfeed</code> retrieves the <a href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/2/cadors-screaq/nrpt.aspx?lang=eng">CADORS National Report</a> from the Transport Canada web site, then parses the reports to produce structured data.  The text of each report narrative is also parsed to extract additional structured information, including geographic coordinates and aerodrome identifiers. After being parsed, the reports are made available through this HTML interface, as well as <a href="http://www.atomenabled.org/developers/syndication/">Atom</a>, <a href="http://json.org/">JSON</a>, and <a href="http://code.google.com/apis/kml/documentation/">KML</a> feeds. The KML feeds are used with the <a href="http://code.google.com/apis/earth/">Google Earth plugin</a> to create an overlay on each report which shows the locations referenced in that report.</p>

<p><code>cadorsfeed</code> uses the <a href="http://wwwsearch.sourceforge.net/mechanize/">mechanize</a> library to retrieve the CADORS National Report from Transport Canada's web site.  The reports are parsed using <a href="http://code.google.com/p/html5lib/">html5lib</a> and <a href="http://lxml.de/">lxml</a>, and the parsed reports are stored in <a href="http://www.postgresql.org/">PostgreSQL</a> with <a href="http://postgis.refractions.net/">PostGIS</a>, using <a href="http://www.sqlalchemy.org/">SQLAlchemy</a> with <a href="http://www.geoalchemy.org/">GeoAlchemy</a>.  This front-end is created using <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://packages.python.org/Flask-SQLAlchemy/">Flask-SQLAlchemy</a>.</p>

<p>The database of aerodromes (used to identify aerodrome codes in report narratives and map them to geographic locations) is produced using Wikipedia data parsed by the <a href="http://dbpedia.org/About">DBPedia</a> project; <a href="http://sparql-wrapper.sourceforge.net/">SPARQLWrapper</a> is used to retrieve DBPedia results programmatically.</p>

<p>The following Atom feeds are available (for JSON, replace <code>atom</code> with <code>json</code>):
<ul>
<li><code>/daily-report/<em>year</em>/<em>month</em>/<em>day</em>/report.atom</code></li>
<li><code>/daily-report/latest/report.atom</code></li>
<li><code>/report/<em>CADORS number</em>.atom</code></li>
<li><code>/category/<em>category id</em>/<em>page</em>.atom</code> (get category IDs from the <a href="/categories">category index</a>)</li>
<li><code>/search/text?q=<em>query</em>&page=1&format=atom</code></li>
<li><code>/search/location?latitude=<em>latitude</em>&longitude=<em>longitude</em>&radius=<em>radius</em>&primary=primary&page=1&format=atom</code></li>
<li><code>/search/aerodrome?aerodrome=<em>identifier</em>&primary=primary&page=1&format=atom</code></li>
<li><code>/search/flight&operator=<em>operator</em>&flight=<em>flight</em>&page=1&format=atom</code> (if <code>flight</code> is omitted, all flights from that operator are retrieved)</li>
</ul>

Some locations associated with a report are identified as 'primary' locations; to search all locations, replace <code>primary=primary</code> with <code>primary=all</code>.
The paginated feeds have <code>&lt;link rel="prev"&gt;</code> and <code>&lt;link rel="next"&gt;</code> elements to aid in retrieving multiple pages of results.

</div>
{% endblock %}