<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
{% block head %}
<title>{% block title %}{% endblock %} - cadorsfeed</title>
<script type="text/javascript">
WebFontConfig = {
    google: { families: [ 'Orbitron', 'Lato:r,b', 'Droid Serif:r,b' ] }
};
(function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
})();
</script>
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print"> 
<!--[if lt IE 8]>
<link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link rel="stylesheet" href="/static/css/site.css" type="text/css">
<script src="/static/js/modernizr-1.7.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js"></script>
{% endblock %}
</head>

<body>
<div class="container">
  <header class="span-24">
  
  <div class="prepend-16 span-8 last title">
    <p title="Civil Aviation Daily Occurrence Reporting System">cadorsfeed</p><p class="small">beta</p>
  </div>
  <div id="nav" class="clear">
      <a class="span-4 border" href="/">Home</a>
      <a class="span-4 border" href="/daily-reports">Daily Reports</a>
      <a class="span-4 border" href="/reports">Reports</a>
      <a class="span-4 border" href="/categories">Categories</a>
      <a class="span-4 border last" href="/search">Search</a>
  </div>
  <h1>{{self.title()}}</h1>
  </header>
  <section class="content span-24">
  {% block body %}{% endblock %}
  </section>
  <hr>
  <footer class="span-24">
  <p><small>CADORS data is provided by Transport Canada. All reports are unverified and subject to change.</small></p><p style="text-align: right;"><small><a href="/disclaimer">Disclaimer</a> <a href="/privacy">Privacy policy</a><br />This is a <a href="http://www.kurtraschke.com/">Kurt Raschke</a> production.</small></p>
  </footer>
</div>
</body>
</html>
