<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
{% block head %}
<title>{% block title %}{% endblock %} - CADORS</title>
<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print"> 
<!--[if lt IE 8]>
<link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link rel="stylesheet" href="/static/css/site.css" type="text/css">
<script src="/static/js/modernizr-1.7.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://cdn.jquerytools.org/1.2.5/all/jquery.tools.min.js"></script>
{% endblock %}
</head>

<body>
<div class="container">
  <header class="span-24">
  
  <div class="prepend-18 span-6 last">
    <p class="title center" title="Civil Aviation Daily Occurrence Reporting System">cadorsfeed</p>
  </div>
  <div id="nav" class="clear">
      <a class="span-4 border" href="/">Home</a>
      <a class="span-4 border" href="/daily-reports">Daily Reports</a>
      <a class="span-4 border" href="/reports">Reports</a>
      <a class="span-4 border" href="/categories">Categories</a>
      <a class="span-4 border last" href="/search">Search</a>
  </div>
  <h1>{{self.title()}}</h1>
  </header>
  <section class="span-24">
  {% block body %}{% endblock %}
  </section>
  <hr>
  <footer class="span-24">
  <p><small>CADORS data is provided by Transport Canada. All reports are unverified and subject to change. <a href="/disclaimer">View full disclaimer.</a></small></p>
  </footer>
</div>
</body>
</html>