{% extends "base.html" %}
{% import "pagination.html" as pg %}
{% import "report_list.html" as r %}

{% block title %}Daily Reports{% endblock %}

{% block body %}
{% if pagination.page > 1 %}
{{ pg.render_pagination(pagination) }}
{% endif %}

<div class="span-18">
<table>
<thead>
<th>Report Date</th><th>Number of Reports</th>
</thead>
<tbody>
{% for (daily_report, count) in daily_reports %}
<tr>
<td><a href="{{ daily_report.link(format='html') }}">{{ daily_report.report_date.strftime("%Y-%m-%d") }}</a></td>
<td>{{count}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{{ pg.render_pagination(pagination) }}
</div>
<div class="span-6 last">
<form method="GET" action="/daily-report/">
<fieldset>
<legend>Jump to date</legend>
<label for="date">Date</label><br>
<input type="date" name="report_date" required><br>
<input type="submit">
</fieldset>
</form>
</div>
{% endblock %}
