{% extends "base.html" %}
{% import "pagination.html" as pg %}
{% import "report_list.html" as r %}

{% block head %}
{{ super() }}
<style type="text/css">

.count {
    font-size: 36px;
    top: 5px;
    line-height: 36px;
}
</style>

{% endblock %}


{% block body %}

<section>
{% if previous_report %}
<a href="{{ url_for('daily_report.do_daily_report', 
	 year=previous_report.report_date.year,
	 month=previous_report.report_date.month,
	 day=previous_report.report_date.day,
	 format='html')}}">{{ previous_report.report_date.strftime("%Y-%m-%d")}}</a>
{% endif %}

|

{% if next_report %}
<a href="{{ url_for('daily_report.do_daily_report', 
	 year=next_report.report_date.year,
	 month=next_report.report_date.month,
	 day=next_report.report_date.day,
	 format='html')}}">{{ next_report.report_date.strftime("%Y-%m-%d")}}</a>
{% endif %}

</section>

<section>
<h2>What</h2>
{% for type in types %}
<div class="column unitx1 {{ 'first' if loop.index0 == 0}}">
<p>
<span class="count">{{ type[1] }}</span><br />
<span><strong>{{ type[0] }}</strong></span>
</p>
</div>
{% endfor %}
</section>

<section class="width4 clear">
<h2>Where</h2>
{% for region in regions %}
<div class="column unitx1 {{ 'first' if loop.index0 == 0}}">
<p>
<span class="count">{{ region[1] }}</span><br />
<span><strong>{{ region[0] }}</strong></span>
</p>
</div>
{% endfor %}
</section>

{{ r.report_list(reports) }}


{% endblock %}
