{% extends "base.html" %}
{% import "pagination.html" as pg %}
{% import "report_list.html" as r %}

{% block title %}Daily Report for {{daily_report.report_date.strftime("%Y-%m-%d")}}{% endblock %}

{% block head %}
{{ super() }}
<link rel="first" href="{{ first.link(format='html') }}">
{%- if prev %}
<link rel="previous" href="{{ prev.link(format='html') }}">
{% endif %}
{%- if next -%}
<link rel="next" href="{{ next.link(format='html') }}">
{% endif -%}
<link rel="last" href="{{ last.link(format='html') }}">
{% endblock %}

{% block body %}
<section class="clear large">
<div class="span-4 append-16">
{% if prev %}
<a href="{{ prev.link(format='html')}}">&laquo;&nbsp;{{prev.report_date.strftime("%Y-%m-%d")}}</a>
{% endif %}&nbsp;
</div>
<div class="span-4 last" style="text-align: right;">
{% if next %}
<a href="{{ next.link(format='html')}}">{{ next.report_date.strftime("%Y-%m-%d")}}&nbsp;&raquo;</a>
{% endif %}
</div>
</section>

<section class="clear">
<div class="span-2 colborder"><h2>What</h2></div>
{% for type in types %}
<div class="span-2">
<p>
<span class="count">{{ type[1] }}</span><br />
<span><strong><a href="{{daily_report.link(full=True, type=type[0])}}">{{ type[0] }}</a></strong></span>
</p>
</div>
{% endfor %}

<div class="span-2 colborder"><h2>Where</h2></div>
{% for region in regions %}
<div class="span-2 {{'colborder' if loop.last}}">
<p>
<span class="count">{{ region[1] }}</span><br />
<span><strong><a href="{{daily_report.link(full=True, region=region[0])}}">{{region[0]}}</a></strong></span>
</p>
</div>
{% endfor %}
<div class="span-2 large last"><a href="{{daily_report.link(full=True)}}">View all</a></div>
</section>


{{ r.report_list(reports) }}

{% endblock %}
