{% extends "base.html" %}

{% block title %}Disclaimer{% endblock %}

{% block body %}
<div class="span-16 append-4 prepend-4 last">
  <p>This is an unofficial reproduction of data contained within the CADORS database, and was neither produced in affiliation with nor with the endorsement of Transport Canada.</p>
  <p>Transport Canada endeavours to ensure the accuracy and integrity of the data contained within CADORS, however, the information within should be treated as preliminary, unsubstantiated and subject to change.</p>
</div>
{% endblock %}