{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="span-16 append-4 prepend-4 last">
  <p class="large">This is is <code>cadorsfeed</code>, a project to make <a href="http://www.tc.gc.ca/eng/tc-main.htm">Transport Canada</a>'s <a href="http://wwwapps.tc.gc.ca/Saf-Sec-Sur/2/cadors-screaq/">Civil Aviation Daily Occurrence Reporting System</a> more useful by extracting metadata from unstructured text.  This site provides an improved HTML interface to the reports, as well as <a href="http://www.atomenabled.org/developers/syndication/">Atom</a> and <a href="http://json.org/">JSON</a> feeds.</p>
  <p>To get started, try viewing <a href="/daily-report/latest">the latest daily report</a>, or select an option from the links above. More information <a href="/about">about this site</a> is available.</p>
</div>
{% endblock %}