{% extends "base.html" %}
{% block body %}
<!--<title>cadorsfeed login</title>-->
<form action="" method="POST" >
<section class="column first width2">
<fieldset class="width2">
<legend>Login</legend>
<input type="hidden" name="_csrf_token" value="{{ csrf_token()}}">
<label class="unitx1 first">Username: <input type="text" name="username" class="text" /></label>
<label class="unitx1">Password: <input type="password" name="password" class="text" /></label>
</fieldset>

<fieldset class="width2"><input type="submit" /></fieldset>
</fieldset>
</section>
</form>
{% endblock %}