<!doctype html>
<title>cadorsfeed login</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="" method="POST">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
<label>Username: <input type="text" name="username" /></label>
<label>Password: <input type="password" name="password" /></label>
<input type="submit" />
</form>