{% macro render_pagination(pagination, endpoint) %}
 <div class="pagination">
   {% if pagination.has_previous -%}
   <a href="{{ modified_url_for(page=pagination.prev_num) }}">&laquo; Previous</a> |
   {%- endif -%}
  {%- for page in pagination.iter_pages() -%}
    {% if page -%}
      {% if page != pagination.page %}
        <a href="{{ modified_url_for(page=page) }}">{{ page }}</a>
      {%- else %}
        <strong>{{ page }}</strong>
      {%- endif %}
    {%- else %}
      <span class=ellipsis>…</span>
    {%- endif %}
  {%- endfor -%}
  {% if pagination.has_next -%}
    &nbsp;| <a href="{{ modified_url_for(page=pagination.next_num) }}">Next &raquo;</a>
  {%- endif %}
  </div>
{% endmacro %}
