{% macro report_list(reports) %}
<table>
  <thead>
  <tr><th>Report Number</th><th>Report Date</th><th>Location</th><th>Type</th>
    <th>Preview</th>
  </tr>
  </thead>
  <tbody>
  {% for report in reports %}
  <tr>
    <td><a href="{{ url_for('report.display_report',
		 report=report.cadors_number) }}">{{report.cadors_number}}</a></td>
    <td>{{ report.timestamp.strftime("%Y&#8209;%m&#8209;%d %H%M&nbsp;Z") | safe }}</td>
    <td>{{report.location}}</td>
    <td>{{report.occurrence_type}}</td>
    <td>{{report.narrative_parts[0].narrative_text | truncate(length=150)}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endmacro %}
