{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{google_maps_key}}"></script>
<script type="text/javascript" src="/static/js/map_overlay.js"></script>
<link type="text/css" rel="stylesheet" media="screen" href="/static/css/map_overlay.css">
{% endblock %}

{% block title %}Report {{report.cadors_number}}{% endblock %}

{% block body %}
<div class="report" id="{{report.cadors_number}}">
<section class="span-6">
<h3>Occurrence Information</h3>
<dl>
<dt>Location</dt>
<dd>{{report.location}}</dd>
<dt>Date</dt>
<dd>{{report.timestamp_html|safe}}</dd>
<dt>Type</dt>
<dd>{{report.occurrence_type}}</dd>
<dt>Fatalities</dt>
<dd>{{report.fatalities}}</dd>
<dt>Injuries</dt>
<dd>{{report.injuries}}</dd>
</dl>

<h3>Event Categories</h3>
<ul>
{%- for category in report.categories %}
<li><a href="{{ url_for('category.display_category_report_list',
                catid=category.category_id)}}">{{category.text}}</a>
</li>
{% endfor %}
</ul>
{% if report.locations|length > 0 %}
<h3>Locations</h3>
<p><a href="{{ report.link(format='kml', _external=True)}}" class="maplink">View {{ report.locations|length }} locations</a></p>
{% endif %}
</section>


<div>
<h3>Aircraft Information</h3>
{% if report.aircraft | length > 0 %}
{% for aircraft_block in report.aircraft %}
<div class="span-6 {{"last" if loop.last or (loop.index0  - 2) % 4 == 0}}">
<h4 style="margin-bottom:0;">{{aircraft_block.category}} {{loop.index}}</h4>
<span class="large">{{aircraft_block.year|d('', true)}} {{aircraft_block.make|d('', true)}} {{aircraft_block.model|d('', true)}}</span>
<dl>
{% if aircraft_block.flight_number != None %}
<dt>Flight number</dt>
<dd>{{aircraft_block.flight_number }}</dd>
{% endif %} 
<dt>Damage</dt>
<dd>{{aircraft_block.damage}}
<dt>Phase of flight</dt>
<dd>{{aircraft_block.flight_phase}}</dd>
<dt>Engine</dt>
<dd>{{aircraft_block.engine_type|d('Unknown type', true)}} {{aircraft_block.engine_make|d('', true)}} {{aircraft_block.engine_model|d('', true)}}</dd>
<dt>Gear type</dt>
<dd>{{ aircraft_block.gear_type|d('Unknown', true) }}</dd>
<dt>Amateur-built</dt>
<dd>{{aircraft_block.amateur_built}}</dd>
{% if aircraft_block.owner != None %}
<dt>Owner</dt>
<dd>{{aircraft_block.owner}}</dd>
{% endif %}
<dt>Operator</dt>
<dd>{{aircraft_block.operator_type}} {{aircraft_block.operator|d('', true)}}</dd>
<dt>Country of registration</dt>
<dd>{{aircraft_block.reg_country|d('Unknown',true)}}</dd>
</dl>
</div>
{% endfor %}
{% else %}
<div style="text-align: center; font-size:3em;" class="span-18 last">
<span>No aircraft involved</span>
</div>
{% endif %}

</div>

<section class="narrative span-24 clear">
<h3>Narrative</h3>
{% for narrative_block in report.narrative_parts %}
<h4 >Update {{loop.index}} by {{narrative_block.name}} on {{narrative_block.date.strftime('%Y-%m-%d')}}</h4>
{{narrative_block.narrative_html|safe}}
{% endfor %}
</section>


<div class="overlay">
<div class="map" style="width: 800px; height: 500px"></div>
</div>
</div>
{% endblock %}
