{% extends "base.html" %}
{% import "render_report.html" as rr %} 

{% block head %}
{{ super() }}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{config['GOOGLE_MAPS_KEY']}}"></script>
<script type="text/javascript" src="/static/js/map_overlay.js"></script>
<link type="text/css" rel="stylesheet" media="screen" href="/static/css/map_overlay.css">
{% endblock %}

{% block title %}Report {{report.cadors_number}}{% endblock %}

{% block body %}
{{ rr.render_report(report) }}
{% endblock %}
