{% extends "base.html" %}
{% import "pagination.html" as pg %}
{% import "report_list.html" as r %}

{% block title %}Events within {{radius}} km of {{latitude}}, {{longitude}}{% endblock %}

{% block body %}
{% if pagination.page > 1 %}
{{ pg.render_pagination(pagination) }}
{% endif %}

<table>
  <thead>
  <tr><th>Report Number</th><th>Report Date</th><th>Location</th>
  <th>Relative Position</th><th>Type</th>
    <th>Preview</th>
  </tr>
  </thead>
  <tbody>
  {% for (report, distance, azimuth, location_name) in reports %}
  <tr>
    <td><a href="{{ url_for('report.display_report',
		 report=report.cadors_number) }}">{{report.cadors_number}}</a></td>
    <td>{{report.timestamp_html|safe}}</td>
    <td>{{location_name}}</td>
    <td>{{(distance/1000)|round(2)}}&nbsp;km&nbsp;<span title="{{azimuth | round(2)}}&deg;">{{get_direction(azimuth)}}</span></td>
    <td>{{report.occurrence_type}}</td>
    <td>{{report.narrative_parts[0].narrative_text | truncate(length=150)}}</td>
  </tr>
  {% else %}
  <tr><td colspan="6" class="large center">No results</td></tr>
  {% endfor %}
  </tbody>
</table>

{{ pg.render_pagination(pagination) }}

{% endblock %}
